@media (min-width: 1366px) and (max-width: 1440px) {
}
// min width 1366px and max width 1440px ends here

@media (min-width: 1300px) and (max-width: 1365px) {
}
// min width 1300px and max width 1365px ends here

@media (min-width: 1300px) {
}

// min widht 1300px ends here

@media (max-width: 1299px) {
}

// max widht 1299px ends here

@media (min-width: 1025px) and (max-width: 1299px) {
}

// min width 1025px and max width 1299px ends here

@media (min-width: 992px) and (max-width: 1024px) {
}

// min width 992px and max width 1024px ends here

@media (min-width: 992px) {
    .top-header-main {
        .top-header-flex {
            .header-bar {
                display: none;
            }
        }
    }
    .sticky-top-header {
        position: unset;
    }
}

@media (max-width: 991px) {
    .top-header-main {
        padding-left: 20px;
        padding-right: 20px;
        .top-header-flex {
            .topbar-info {
                display: none;
            }
            .topheader-search-box {
                display: none;
            }
        }
    }
    header {
        display: none;
    }
}
// max widht 991px ends here

@media (min-width: 768px) and (max-width: 991px) {
}

// min width 768px and max width 991px ends here

@media (min-width: 768px) {
}
// max widht 768px ends here

@media (max-width: 767px) {
}

// max widht 767px ends here

@media (min-width: 576px) and (max-width: 767px) {
}
// min width 576px and max width 767px ends here

@media (min-width: 415px) and (max-width: 575px) {
}
// min width 415px and max width 575px ends here

@media (min-width: 376px) and (max-width: 414px) {
}

// min width 376px and max width 414px ends here
@media (max-width: 375px) {
}
// max width 375px ends here
